html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica, "helvetica neue";
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.matrixBox {
  position:absolute;
  top:20px;
  left:100px;
  width:300px;
  height:600px;
}

.matrixBox > p {
  font-size: 20px;
  font-weight: 300;
  color: white;
  padding-bottom: 10px;
  margin: 0;
  padding-top: 20px;
  width:300px;
  float: left;
  overflow: hidden;
}

#geoShear {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 160px;
}

.matrixBox > p > span {
  font-size: 15px;
}

label {
  width: 220px;
  padding: 10px;
  padding-left: 0px;
  float:left;
  color:white;
  font-size: 14px;
  font-weight: 300;
}

.matrixBox > div {
  font-size: 14px;
}

.volume {
  position: absolute;
  top: 50px;
  right: 35px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin: 0;
  padding-top: 20px;
}


label > span {

}

.matrixBox > div {
  width: 285px;
  margin-top: 10px;
  padding: 10px;
  padding-left: 0;
  margin: 2px;
  float:left;
  overflow: hidden;
  color: white;
}

input[type="checkbox"] {
  float: left;
}

input[type="text"] {
  width: 220px;
  padding: 10px;
  margin: 2px;
  float:left;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
}

input[type="submit"] {
  background-color: rgb(0,180,255);
  width: 110px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 2px;
  float:left;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color:white;
  cursor: pointer;
  border-radius: 0px;
}

/*--- Range Styling --- */

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;

    /*required for proper track sizing in FF*/
    width: 220px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 220px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(0,180,255);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 220px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(0,180,255);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 220px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgb(0,180,255);
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}