<html ng-app="geoshearapp">
<head>
   <title>Shear Geometry</title>
</head>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="icon" href="img/favicon.png" type="image/png" sizes="32x32">
<script src="js/three.min.js"></script>
<script src="js/controls/TrackballControls.js"></script>
<script src="js/renderers/Projector.js"></script>
<script src="js/renderers/SoftwareRenderer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>

<body ng-controller="controller">

<!-- Matrix Inputs -->
<div class="matrixBox">

  <p style="padding:0;">Shear Transformation</p>

  <label>Sxy: <span>{{grabSxyVal()}}</span></label>
  <input type="range" min="0" max="10" step=".01" placeholder="Sxy" id="sxy" name="sxy" ng-model="backgroundInfo.sxy" />
  <label>Sxz: <span>{{grabSxzVal()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Sxz" id="sxz" name="sxz" ng-model="backgroundInfo.sxz" />
  <label>Syx: <span>{{grabSyxVal()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Syx" id="syx" name="syx" ng-model="backgroundInfo.syx" />
  <label>Syz: <span>{{grabSyzVal()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Syz" id="syz" name="syz" ng-model="backgroundInfo.syz" />
  <label>Szx: <span>{{grabSzxVal()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Szx" id="szx" name="szx" ng-model="backgroundInfo.szx" />
  <label>Szy: <span>{{grabSzyVal()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Szy" id="szy" name="szy" ng-model="backgroundInfo.szy" />
  <label>Height: <span>{{grabHeight()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Height" id="height" name="height" ng-model="backgroundInfo.height" />
  <label>Width: <span>{{grabWidth()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Width" id="width" name="width" ng-model="backgroundInfo.width" />
  <label>Depth: <span>{{grabDepth()}}</span></label>
  <input type="range" min="0" max="3" step=".01" placeholder="Depth" id="depth" name="depth" ng-model="backgroundInfo.depth" />

  <p>2D Deformation <span>(Plane Strain, V Cons.)</span></p>

  <div>&nbsp;&nbsp;Simple Shear
    <input type="checkbox" ng-model="backgroundInfo.simpleShear" ng-change="setSimpleShear()" ng-true-value="YES" ng-false-value="NO" ng-disabled="disabled()">
  </div>
  <div>&nbsp;&nbsp;Pure Shear (no rotation)
    <input type="checkbox" ng-model="backgroundInfo.pureShear" ng-change="setPureShear()" ng-true-value="YES" ng-false-value="NO" ng-disabled="disabled()">
  </div>

  <p>3D Deformation <span>(Triaxial Strain)</span> </p>

  <div>&nbsp;&nbsp;Constriction (L Tectonite, strong lineation)
    <input type="checkbox" ng-model="backgroundInfo.constriction" ng-change="setConstriction()" ng-true-value="YES" ng-false-value="NO" ng-disabled="disabled()">
  </div>
  <div>&nbsp;&nbsp;Flattening (S Tectonite, no lineation)
    <input type="checkbox" ng-model="backgroundInfo.flattening" ng-change="setFlattening()" ng-true-value="YES" ng-false-value="NO" ng-disabled="disabled()">
  </div>

</div>

<!-- Total Volume -->
<img id="geoShear" src="img/logoWhite.png" />
<p class="volume">Volume: <span style="font-weight:bold;">{{totalVolume()}}</span></p>

<!-- Scene -->
<div id="scene"></div>

<!-- Main -->
<script>

   // global vars
   var camera, controls, scene, renderer, geometry, matrix, cube;
   var start = Date.now();
   var i = 0;

   startLoop();

   // setup and animate
   function startLoop() {
      init();
      animate();
   }

   // setup
   function init() {

      scene = new THREE.Scene();
      camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 1, 10000);
      camera.position.z = 1000;

      renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);

      container = document.getElementById('scene');
      container.appendChild(renderer.domElement);
      controls = new THREE.TrackballControls( camera, container);

      // New cube shape
      geometry = new THREE.BoxGeometry( 500, 500, 500, 50, 50, 50);
      // var texture = THREE.ImageUtils.loadTexture( 'img/rockFace.png', {}, function(){
      // // use to test when image gets loaded if it does
      // // alert('texture loaded')
      // },
      // function(){
      //     alert('error')
      // });
      // material = new THREE.MeshBasicMaterial( { map: texture } );
      // var material = new THREE.MeshBasicMaterial({color: 0x00B4FF, wireframe: true});
      var material = [
          new THREE.MeshBasicMaterial({ color: 0x333399, transparent: true, opacity: 1.0, wireframe: true }),
          new THREE.MeshBasicMaterial({ color: 0x66cccc, transparent: true, opacity: 1.0, wireframe: true }),
          new THREE.MeshBasicMaterial({ color: 0x77cc33, transparent: true, opacity: 1.0, wireframe: true }),
          new THREE.MeshBasicMaterial({ color: 0x999999, transparent: true, opacity: 1.0, wireframe: true }),
          new THREE.MeshBasicMaterial({ color: 0xea4c88, transparent: true, opacity: 1.0, wireframe: true }),
          new THREE.MeshBasicMaterial({ color: 0xff6600, transparent: true, opacity: 1.0, wireframe: true })
      ];

      // shear matrix
      // ref: http://www.flipcode.com/documents/matrfaq.html#Q43
      //        | 1    Syx  Szx  0 |
      //        |                  |
      //        | Sxy  1    Szy  0 |
      //    M = |                  |
      //        | Sxz  Syz  1    0 |
      //        |                  |
      //        | 0    0    0    1 |
      //        |                  |

      matrix = new THREE.Matrix4();

      var Syx = 0,
          Szx = 0,
          Sxy = 0,
          Szy = 0,
          Sxz = 0,
          Syz = 0,
          height = 1,
          width = 1,
          depth = 1;

      matrix.set(   width,   Syx,  Szx,  0,
                  Sxy,     height,  Szy,  0,
                  Sxz,   Syz,   depth,   0,
                    0,     0,   0,   1  );


      // apply matrix
      geometry.applyMatrix( matrix );

      // add axes
      // axes = buildAxes(1000);

      // add  cube
      // cube = new THREE.Mesh(geometry, material);
      cube = new THREE.Mesh(geometry, new THREE.MeshFaceMaterial(material) );

      scene.add(cube);

      // rando effects
      cube.castShadow = true;
      cube.receiveShadow = true;
      // scene.add(axes);

      window.addEventListener( 'resize', onWindowResize, false );

   }

   // resize
   function onWindowResize() {
      camera.aspect = window.innerWidth / window.innerHeight;
      camera.updateProjectionMatrix();
      renderer.setSize( window.innerWidth, window.innerHeight );
   }

   // animate
   function animate() {

      var timer = Date.now() - start;

      // grab new elements from sliders
      var sxy = document.getElementById("sxy").value;
      var sxz = document.getElementById("sxz").value;
      var syx = document.getElementById("syx").value;
      var syz = document.getElementById("syz").value;
      var szx = document.getElementById("szx").value;
      var szy = document.getElementById("szy").value;
      var height = document.getElementById("height").value;
      var width = document.getElementById("width").value;
      var depth = document.getElementById("depth").value;

      // update new elements in matrix
      cube.matrix.elements[1] = sxy;
      cube.matrix.elements[2] = sxz;
      cube.matrix.elements[4] = syx;
      cube.matrix.elements[6] = syz;
      cube.matrix.elements[8] = szx;
      cube.matrix.elements[9] = szy;
      cube.matrix.elements[5] = height;
      cube.matrix.elements[0] = width;
      cube.matrix.elements[10] = depth;

      cube.matrixAutoUpdate = false;

      //cube.geometry.vertices[2].x = sxy;
      //cube.geometry.verticesNeedUpdate = true;

      requestAnimationFrame( animate );
      render();
   }

   // render
   function render() {
      var timer = Date.now() - start;
      cube.rotation.y = timer * 0.0003;
      cube.updateMatrixWorld( true )
      controls.update();
      renderer.render( scene, camera );
   }


   // build axes
   function buildAxes( length ) {

     var axes = new THREE.Object3D();

     axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( length, 0, 0 ), 0xFF0000, false ) ); // +X
     axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( -length, 0, 0 ), 0xFF0000, true) ); // -X
     axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, length, 0 ), 0x00FF00, false ) ); // +Y
     axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, -length, 0 ), 0x00FF00, true ) ); // -Y
     axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, 0, length ), 0x0000FF, false ) ); // +Z
     axes.add( buildAxis( new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, 0, -length ), 0x0000FF, true ) ); // -Z

     return axes;

   }

   // build axes
   function buildAxis( src, dst, colorHex, dashed ) {

        var geom = new THREE.Geometry(),
            mat;

        if(dashed) {
                mat = new THREE.LineDashedMaterial({ linewidth: 3, color: colorHex, dashSize: 3, gapSize: 3 });
        } else {
                mat = new THREE.LineBasicMaterial({ linewidth: 3, color: colorHex });
        }

        geom.vertices.push( src.clone() );
        geom.vertices.push( dst.clone() );
        geom.computeLineDistances(); // This one is SUPER important, otherwise dashed lines will appear as simple plain lines

        var axis = new THREE.Line( geom, mat, THREE.LinePieces );

        return axis;

   }

</script>

</body>
</html>